<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <meta http-equiv="refresh" content="1"> -->
<link rel="stylesheet" href="home.css">
</head>
<body>
    <h1> <%- haha.name %></h1>
    <h1> <%- haha.age %></h1>
    <h1> <%- hehe.continent %></h1>
    <h2>huhu</h2>

</body>
</html>